body{
    margin:0;
    min-height:100vh;
    background-color:#001660;
    display:flex;
    align-items:center;
    justify-content:center;
}
*{
    box-size:border-box;
    margin:0;
    padding:0;
    font-family:poppins,sans serif;
}

form{
    display:flex;
    flex-direction:column;
    background: white;
    padding: 2em 1em;
    border-radius: 0.5em;
   min-width:50vw;
}

h2{
    color: #9c9696;
    margin-bottom: 1em;
}
input, textarea{
    border: none;
    background: whitesmoke;
    margin-bottom: 1em;
    padding: 1em 1em;
    margin-right:1em;
    border-radius: 0.2em;
    font-size:1em;
}


button{
    padding: 0.5em 1em;
    background: #f77272;
    width:5em;
    color: white;
    font-size: 1em;
    border: none;
    border-radius:1em;
    outline:none;
    cursor:pointer;
    margin: 1em auto;
}